section#result {
    display: none !important;
}

.results-wrapper .save-pdf-wrapper {
    text-align: right;
    margin: 0 0 20px 20px;
    clear: both;
}
.results-wrapper h1 {
    margin: 20px 0;
    padding: 20px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}
.results-wrapper #summary .errorSummary {
    padding: 0;
}
.results-wrapper .results-panes {
    border-left: 1px solid #DDD;
}
.results-wrapper .results-tabs li a {
    border-bottom: 1px solid #DDD;
    font-size: 1.3em;
}
.results-wrapper .results-tabs li.active a {
    background-color: #555;
    border-bottom: 0;
}